#osb-ui {
  h2, h3, h4, h5, p {
    padding: 0.3em 0 0.3em 0;
    margin: 0.3em 0 0.3em 0;
    text-align: left;
  }
}

#osb-map-wrapper {
  overflow: hidden;
}

#osb-ui {
  background-color: #ffffff;
  text-align: center;

  a {
    border-bottom: none;
  }

  input[type='text'] {
    width: 80%;
  }

  textarea {
    width: 80%;
  }
}

#osb-layer-list {

  list-style-type: none;

  li {
    display: inline;
    margin: 0.5em;
  }

  li {
    a {
      outline: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:visited {
      text-decoration: none;
    }
    a:active {
      text-decoration: underline;
    }
  }

}

.osb-map-popup {

  h4 {
    font-size: 1em !important;
    margin: 0 !important;
  }
}

.osb-btn {
  background: #7b7f82 !important;
  background-image: -webkit-linear-gradient(top, #7b7f82, #545657);
  background-image: -moz-linear-gradient(top, #7b7f82, #545657);
  background-image: -ms-linear-gradient(top, #7b7f82, #545657);
  background-image: -o-linear-gradient(top, #7b7f82, #545657);
  background-image: linear-gradient(to bottom, #7b7f82, #545657);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff !important;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 0.3em;
}

.osb-btn-small {
  background: #7b7f82 !important;
  background-image: -webkit-linear-gradient(top, #7b7f82, #545657);
  background-image: -moz-linear-gradient(top, #7b7f82, #545657);
  background-image: -ms-linear-gradient(top, #7b7f82, #545657);
  background-image: -o-linear-gradient(top, #7b7f82, #545657);
  background-image: linear-gradient(to bottom, #7b7f82, #545657);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff !important;
  font-size: 14px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  margin-right: 0.3em;
}

.osb-btn:hover, .osb-btn-small:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #7b7f82, #545657);
  background-image: -moz-linear-gradient(top, #7b7f82, #545657);
  background-image: -ms-linear-gradient(top, #7b7f82, #545657);
  background-image: -o-linear-gradient(top, #7b7f82, #545657);
  background-image: linear-gradient(to bottom, #7b7f82, #545657);
  text-decoration: none;
}

.osb-layer-selected {
  font-weight: bold;
  text-decoration: underline;
}

.osb-input-error {
  color: red;
  font-style: italic;
}

#osb-validation-messages {
  text-align: left;
}

#osb-place-form, #osb-place-details, #osb-postcode-lookup {
  text-align: left;
}

#osb-postcode-lookup {
  display: inline-block;
}

#osb-postcode-input {
  width: 80px;
}

#osb-postcode-submit {
  padding: 0.4em;
}

.osb-error {
  color: #cc0000;
}

#osb-validation-messages {
  text-align: center;
  p {
    margin: 0.3em;
    text-align: center;
    color: #cc0000;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }

}

.osb-place-form-section {
  margin: .5em 0 .5em 0;
}

.osb-btn-submit {
  margin-right: 0.3em;
}

#osb-keyword-list {
  list-style: none;
  li {
    display: inline-block;
  }
}

.osb-keyword {
  background-color: gray;
  margin: 0.3em;
  padding: 0.5em;
}

#osb-media-metadata {
  text-align: left;
  label {
    font-size: 110%;
    margin-top: 0.8em;
  }
}

.osb-media-desc {
  font-size: 80%;
  line-height: 1em;
}

.osb-form-header {
  text-align: left;
}

.osb-form-instruct {
  text-align: justify;
}

.osb-media-item {
  padding: 0.5em;
}

.osb-permissions-box {
  margin: 0.5em;
  padding: 0.5em;
  border: solid black 1px;
  background-color: #ffffcc;
  ul {
    text-align: left;
    margin-left: 1.5em;
  }
}

#osb-submission {
  margin: 1.5em 0 0 0;
}

#osb-message-wrapper p {
  text-align: center;
  background-color: #ffffcc;
  border: solid 1px #000000;
}

.osb-desc-border, .osb-place-description {
  margin: 5px 0 0 0;
  border: dashed 1px;
  padding: 5px;
}

.osb-disabled {
  background: #f0f0f0 !important;
}

#osb-media-msg {
  color: #ff0000;
}

a.osb-remove-key {

  color: #000000;

  :visited {
    color: #000000;
  }
}