/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
/* The banner images actually spans over two sibling div elements, #header and #nav. I've divided the
   image into two, making each part a background image */
body {
    background-image: url(/wp-content/uploads/2016/06/osb-map-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#header {
    padding: 0;
    background-color: #f2f0f0;
    background-image: url(/wp-content/uploads/2016/06/osb-header-background-1000-top.jpg);
    min-height: 115px;
}

#nav {
    position: relative;
    min-height: 63px;
    background-image: url(/wp-content/uploads/2016/06/osb-header-background-1000-bottom.jpg);
}

#nav > div.col-control {
    position: absolute;
    bottom: 0;
    left: 0;
}

#wrapper {
    border: 1px solid #c0c0c0;
}